<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-icloud-document" version="0.0.1-dev">
    <name>iCloud Document Plugin</name>
    <description>Cordova iCloud Document Plugin</description>
    <license>GPL</license>
    <keywords>cordova,iCloud,Document</keywords>

    <js-module src="www/iCloudDocument.js" name="iCloudDocument">
        <clobbers target="iCloudDocument" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="iCLoudDocument">
                <param name="ios-package" value="CDViCloudDocument"/>
            </feature>
        </config-file>

        <header-file src="src/ios/iCloudDocument.h" />
        <source-file src="src/ios/iCloudDocument.m" />

        <header-file src="src/ios/iCloud.h" />
        <source-file src="src/ios/iCloud.m" />

        <header-file src="src/ios/CDViCloudDocument.h" />
        <source-file src="src/ios/CDViCloudDocument.m" />
    </platform>

</plugin>
